--- layout: default description: "你来到了没有知识的荒原 🙊" header-img:
"img/404-bg.jpg" permalink: /404.html ---

<!-- Page Header -->
<header
  class="intro-header"
  style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading" id="tag-heading">
          <h1>404</h1>
          <span class="subheading">{{ page.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  document.body.classList.add("page-fullscreen");

  // while (line = readline()) {
  //     function MinCoinChange(coins) {
  //         var coins = coins;
  //         return makeChange = function(amount) {
  //             var me = this;
  //             if (!amount) {
  //                 return [];
  //             }
  //             var min = [],
  //                 newMin, newAmount;
  //             for (var i = 0; i < coins.length; i++) {
  //                 var coin = coins[i];
  //                 newAmount = amount - coin;
  //                 if (newAmount >= 0) {
  //                     newMin = me.makeChange(newAmount);
  //                 }
  //                 if (newAmount >= 0 && (newMin.length < min.length - 1 || !min.length) && (newMin.length || !newAmount)) {
  //                     min = [coin].concat(newMin);
  //                     //console.log('new Min' + min + 'for ' + amount);
  //                 }
  //             }
  //             return min;
  //         }
  //     }
  //     var m = MinCoinChange([1, 2, 3, 4, 5])(line);
  //     print(m.length);
  // }

  // function MinCoinChange(coins) {
  //     var coins = coins;
  //     return makeChange = function(amount) {
  //         var me = this;
  //         if (!amount) {
  //             return [];
  //         }
  //         var min = [],
  //             newMin, newAmount;
  //         for (var i = 0; i < coins.length; i++) {
  //             var coin = coins[i];
  //             newAmount = amount - coin;
  //             if (newAmount >= 0) {
  //                 newMin = me.makeChange(newAmount);
  //             }
  //             if (newAmount >= 0 && (newMin.length < min.length - 1 || !min.length) && (newMin.length || !newAmount)) {
  //                 min = [coin].concat(newMin);
  //                 //console.log('new Min' + min + 'for ' + amount);
  //             }
  //         }
  //         return min;
  //     }
  // }

  // function change(num) {
  //     let n = 0;
  //     if (num < 5) {
  //         return 1;
  //     } else {
  //         n = Math.floor(num / 5);
  //         return n + 1;
  //     }
  // }

  // // 本题为考试单行多行输入输出规范示例，无需提交，不计分。
  // function MinCoinChange(coins) {
  //     var coins = coins;
  //     var cache = {};
  //     this.makeChange = function(amount) {
  //         var me = this;
  //         if (!amount) {
  //             return [];
  //         }
  //         if (cache[amount]) {
  //             return cache[amount];
  //         }
  //         var min = [],
  //             newMin, newAmount;
  //         for (var i = 0; i < coins.length; i++) {
  //             var coin = coins[i];
  //             newAmount = amount - coin;
  //             if (newAmount >= 0) {
  //                 newMin = me.makeChange(newAmount);
  //             }
  //             if (newAmount >= 0 && (newMin.length < min.length - 1 || !min.length) && (newMin.length || !newAmount)) {
  //                 min = [coin].concat(newMin);
  //                 //console.log('new Min' + min + 'for ' + amount);
  //             }
  //         }
  //         return (cache[amount] = min);
  //     }
  // }
  // var minCoinChange = new MinCoinChange([1, 2, 3, 4, 5]);
  // // while(line=readline()){
  // // var lines = line.split(" ");
  // // var a = parseInt(lines[0]);
  // var m = minCoinChange.makeChange(10);
  // console.log(m);
  // // print(m.length);
  // // }

  // var line = "bwbwb";
  // var lines = line.split("");
  // const wLen = lines.reduce((a, b) => b == 'w' ? a + 1 : a, 0);
  // const bLen = lines.length - wLen;
  // let ret;
  // if (wLen >= bLen + 1) {
  //     ret = bLen * 2 + 1;
  // } else if (wLen == bLen) {
  //     ret = bLen * 2;
  // } else if (wLen <= bLen + 1) {
  //     ret = wLen * 2 + 1;
  // }
  // console.log(ret);
</script>
